/*! popover.css v0.0.1 | MIT License | https://github.com/chantastic/popover.css */

[data-has-popover] {
  position: relative;
  cursor: default;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[data-has-popover] .popover {
  top: 100%;
}

.popover {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
          transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);

  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

[data-has-popover~=open] .popover {
  visibility: visible;
  opacity: 1;

  -webkit-transform: translateY(0);
          transform: translateY(0);
}

[data-has-popover]::before {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  content: " ";
  visibility: hidden;
  opacity: 0;
}

[data-has-popover~=open]::before {
  visibility: visible;
  opacity: 1;
}

.popover {
  margin-top: 10px;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.popover[data-popover~=colorbar]::after {
  border-left-color: purple;
  border-top-color: purple;
}

.popover[data-popover~=dark-border] {
  border-color: #666;
}

.popover[data-popover~=dark-border]::before {
  border-left-color: #666;
  border-top-color: #666;
}

.popover::before,
.popover::after {
  position: absolute;
    top: -8px;
    left: 16px;
  width: 0;
  height: 0;

  border: 8px solid transparent;
  content: "";
}

.popover::before {
  border-top-color: #888;
  border-left-color: #888;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popover::after {
  border-top-color: #fff;
  border-left-color: #fff;
  -webkit-transform: rotate(45deg) translate(1px, 1px);
      -ms-transform: rotate(45deg) translate(1px, 1px);
          transform: rotate(45deg) translate(1px, 1px);
}

.popover_content {
  margin: 10px;
}

.popover_colorbar {
  height: 4px;
  margin-bottom: -4px;
  background-color: purple;
  border-radius: 2px 2px 0 0;
}
